@media (max-width:600px) {
    .container{
        width: 100%;
        height: 60vmax;
        overflow-x:hidden;
        position: relative;
        
    }
    
    .container video{
        width: 180%;
        height: 100%;
        position: absolute;
        z-index: 1;
    
    }
    
    
    
    
    
    
    
    .container2{
        width: 100%;
        height: auto;
        font-size: 2vmax;
        text-align: center;
        display: inline-block;
        justify-content: center;
    }
    .container2 h1{
     width: 100%;
     background-color:white;
     opacity: 0;
     transform: translateY(0px);
     transition: .5s;
    }
    .container2 p{
        transform: translatey(0px);
        font-size: 3vmax;
    }
    
    .box-1{
        width: 100%;
        height: auto;
     animation: move 1s 4s 1 ease ;
    
    
    
    }
    .box-2{
        width: 100%;
        height: auto;
     animation: move 1s 4.5s 1 ease ;
    
    }
    .box-3{
        width: 100%;
        height: auto;
     animation: move 1s 5s 1 ease ;
    
    }
    
    .box p{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container2 i{
        font-size: 3vmax;
    }
    
    .container2 img{
        width: 100%;
        height: 80%;
    }
    
    .box:hover h1{
        opacity: 1;
        cursor: pointer;
     transform: translateY(-50px);
    
    }
    
    
    .container3{
        width: 100%;
        /* height: 15vmax; */
        display: inline-block;
        justify-content: center;
        
    }
    .left-container-3{
        width: 100%;
        height: 100%;
        /* background-color: blueviolet; */
       text-align: center;
       font-size: 3vmax;
        
    }
    
    .right-container-3{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 40vh;
        font-size: 1.7vmax;
        background-color:rgba(170, 160, 160, 0.318);
    }
    
    .container4{
        width: 100%;
        height: 30vmax;
        /* background-color: aqua; */
        margin-top: 5%;
        display: inline-block;
        text-align: center;
        justify-content: space-around;
    }
    
    .flex{
        overflow: hidden;
        width: 100%;
        height: 100%;
        /* background-color: beige; */
        background-color:rgba(170, 160, 160, 0.318);
        position: relative;
    
    
    }
    
    .flex p{
        margin: 13% 4%;
    }
    
    .flex button{
        padding: 1vmax 2vmax;
        border: none;
        border-radius: 20px;
        background-color: white;
        transition: .5s;
    
    }
    .flex button:hover{
        background-color: black;
        color: white;
    }
    
    .fleximg{
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    }
    .fleximg img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .flex-text{
        position: absolute;
        top: 0;
    }
    .flex:hover .fleximg {
        transform: translateX(0px);
        
    }
    
    .flex:hover .flex-text{
        opacity: 0;
    }
    
    .container5{
        width: 100%;
        height: 30vmax;
        /* position: relative; */
        display: inline-block;
        text-align: center;
        justify-content:space-around;
        margin-top: 5%;
        
    }
    .flex4{
        background-color: white;
    }
    
    .flex4  h1{
        font-size: 4vmax ;
        margin-top: 20%;
    }
    
    .container6{
        width: 100%;
        height: 30vmax;
        display: inline-block;
        text-align: center;
        justify-content: space-around;
        margin-top: 5%;
    
    }
    
    
    .container7{
        width: 100%;
        height: 35vmax;
       line-height: 3.5vmax;
    
    }
    
    .text-7{
        margin-top: 2%;
        margin-left: 20%;
    }
    input{
        height: 3.5vmax;
        width: 19vmax;
        margin: 1% 0;
    }
    
    footer{
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 255, 0.726);
        color: white;
        padding: 1%;
    }
    
    .footer img{
        width: 30%;
    }
    
    .logo{
        display: flex;
        text-align:bottom;
        justify-content: flex-start;
        font-size: 2.5vmax;
        color: white;
    }
    hr{
        margin: 3% 0;
    }
    
    .mainline{
        width: 100%;
        display: inline-block;
        text-align: center;
        justify-content: space-around;
    }
    .line{
    width: 100%;
    line-height: 3vmax;
    letter-spacing: .1vmax;
    }
    
    .line i{
        font-size: 2.2vmax;
        margin: 2%;
    }
    
    .line-4{
        width: 100%;
    }
}